.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  *zoom: 1;
  margin-bottom: 20px;
}

.row .col:first-child {
	margin-left: 0;
}

.col {
	float: left;
	*display: inline-block;
	margin-left: 2.18%;
}

.col1 {
    width: 6.32%;
}

.col2 {
    width: 14.84%;
}

.col3 {
    width: 23.35%;
}

.col4 {
    width: 31.87%;
}

.col5 {
    width: 40.39%;
}

.col6 {
    width: 48.90%;
}

.col7 {
    width: 57.42%;
}

.col8 {
    width: 65.93%;
}

.col9 {
    width: 74.45%;
}

.col10 {
    width: 82.96%;
}

.col11 {
    width: 91.48%;
}

.col12 {
    width: 100%;
}
